/*
 * Spaces
 */

:root {

    --space-1: 1px;         /* 1px */
    --space-2: 0.7143rem;   /* 10px */
    --space-3: 1.071rem;    /* 15px */
    --space-4: 1.429rem;    /* 20px */
    --space-5: 2.143rem;    /* 30px */
    --space-6: 2.857rem;    /* 40px */
    --space-7: 4.286rem;    /* 60px */
    --space-8: 6.429rem;    /* 90px */
    --space-9: 8.571rem;    /* 120px */

    --sm-space-1: var(--space-1);
    --sm-space-2: var(--space-2);
    --sm-space-3: var(--space-3);
    --sm-space-4: var(--space-4);
    --sm-space-5: var(--space-5);
    --sm-space-6: var(--space-6);
    --sm-space-7: var(--space-7);
    --sm-space-8: var(--space-8);
    --sm-space-9: var(--space-9);

    --md-space-1: var(--sm-space-1);
    --md-space-2: var(--sm-space-2);
    --md-space-3: var(--sm-space-3);
    --md-space-4: var(--sm-space-4);
    --md-space-5: var(--sm-space-5);
    --md-space-6: var(--sm-space-6);
    --md-space-7: var(--sm-space-7);
    --md-space-8: var(--sm-space-8);
    --md-space-9: var(--sm-space-9);

    --lg-space-1: var(--md-space-1);
    --lg-space-2: var(--md-space-2);
    --lg-space-3: var(--md-space-3);
    --lg-space-4: var(--md-space-4);
    --lg-space-5: var(--md-space-5);
    --lg-space-6: var(--md-space-6);
    --lg-space-7: var(--md-space-7);
    --lg-space-8: var(--md-space-8);
    --lg-space-9: var(--md-space-9);

}

.m0  { margin-top: 0; margin-bottom: 0; margin-left: 0; margin-right: 0; }
.p0  { padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; }

.mxn1px { margin-left: -1px; margin-right: -1px; }
.myn1px { margin-top: -1px; margin-bottom: -1px; }
.mln1px { margin-left: -1px; }
.mrn1px { margin-right: -1px; }
.mtn1px { margin-top: -1px; }
.mbn1px { margin-bottom: -1px; }

.m1  { margin: var(--space-1); }
.mt1 { margin-top: var(--space-1); }
.mb1 { margin-bottom: var(--space-1); }
.ml1 { margin-left: var(--space-1); }
.mr1 { margin-right: var(--space-1); }
.p1  { padding: var(--space-1); }
.pt1  { padding-top: var(--space-1); }
.pb1  { padding-bottom: var(--space-1); }
.pl1  { padding-left: var(--space-1); }
.pr1  { padding-right: var(--space-1); }
.px1 { padding-left: var(--space-1); padding-right: var(--space-1); }
.py1 { padding-top: var(--space-1); padding-bottom: var(--space-1); }
.mn1  { margin: -var(--space-1); }
.mxn1 { margin-left: -var(--space-1); margin-right: -var(--space-1); }
.myn1 { margin-top: -var(--space-1); margin-bottom: -var(--space-1); }
.mln1 { margin-left: -var(--space-1); }
.mrn1 { margin-right: -var(--space-1); }
.mtn1 { margin-top: -var(--space-1); }
.mbn1 { margin-bottom: -var(--space-1); }

.m2  { margin: var(--space-2); }
.mt2 { margin-top: var(--space-2); }
.mb2 { margin-bottom: var(--space-2); }
.ml2 { margin-left: var(--space-2); }
.mr2 { margin-right: var(--space-2); }
.p2  { padding: var(--space-2); }
.pt2  { padding-top: var(--space-2); }
.pb2  { padding-bottom: var(--space-2); }
.pl2  { padding-left: var(--space-2); }
.pr2  { padding-right: var(--space-2); }
.px2 { padding-left: var(--space-2); padding-right: var(--space-2); }
.py2 { padding-top: var(--space-2); padding-bottom: var(--space-2); }
.mn2  { margin: -var(--space-2); }
.mxn2 { margin-left: -var(--space-2); margin-right: -var(--space-2); }
.myn2 { margin-top: -var(--space-2); margin-bottom: -var(--space-2); }
.mln2 { margin-left: -var(--space-2); }
.mrn2 { margin-right: -var(--space-2); }
.mtn2 { margin-top: -var(--space-2); }
.mbn2 { margin-bottom: -var(--space-2); }

.m3  { margin: var(--space-3); }
.mt3 { margin-top: var(--space-3); }
.mb3 { margin-bottom: var(--space-3); }
.ml3 { margin-left: var(--space-3); }
.mr3 { margin-right: var(--space-3); }
.p3  { padding: var(--space-3); }
.pt3  { padding-top: var(--space-3); }
.pb3  { padding-bottom: var(--space-3); }
.pl3  { padding-left: var(--space-3); }
.pr3  { padding-right: var(--space-3); }
.px3 { padding-left: var(--space-3); padding-right: var(--space-3); }
.py3 { padding-top: var(--space-3); padding-bottom: var(--space-3); }
.mn3  { margin: -var(--space-3); }
.mxn3 { margin-left: -var(--space-3); margin-right: -var(--space-3); }
.myn3 { margin-top: -var(--space-3); margin-bottom: -var(--space-3); }
.mln3 { margin-left: -var(--space-3); }
.mrn3 { margin-right: -var(--space-3); }
.mtn3 { margin-top: -var(--space-3); }
.mbn3 { margin-bottom: -var(--space-3); }

.m4  { margin: var(--space-4); }
.mt4 { margin-top: var(--space-4); }
.mb4 { margin-bottom: var(--space-4); }
.ml4 { margin-left: var(--space-4); }
.mr4 { margin-right: var(--space-4); }
.p4  { padding: var(--space-4); }
.pt4  { padding-top: var(--space-4); }
.pb4  { padding-bottom: var(--space-4); }
.pl4  { padding-left: var(--space-4); }
.pr4  { padding-right: var(--space-4); }
.px4 { padding-left: var(--space-4); padding-right: var(--space-4); }
.py4 { padding-top: var(--space-4); padding-bottom: var(--space-4); }
.mn4  { margin: -var(--space-4); }
.mxn4 { margin-left: -var(--space-4); margin-right: -var(--space-4); }
.myn4 { margin-top: -var(--space-4); margin-bottom: -var(--space-4); }
.mln4 { margin-left: -var(--space-4); }
.mrn4 { margin-right: -var(--space-4); }
.mtn4 { margin-top: -var(--space-4); }
.mbn4 { margin-bottom: -var(--space-4); }

.m5  { margin: var(--space-5); }
.mt5 { margin-top: var(--space-5); }
.mb5 { margin-bottom: var(--space-5); }
.ml5 { margin-left: var(--space-5); }
.mr5 { margin-right: var(--space-5); }
.p5  { padding: var(--space-5); }
.pt5  { padding-top: var(--space-5); }
.pb5  { padding-bottom: var(--space-5); }
.pl5  { padding-left: var(--space-5); }
.pr5  { padding-right: var(--space-5); }
.px5 { padding-left: var(--space-5); padding-right: var(--space-5); }
.py5 { padding-top: var(--space-5); padding-bottom: var(--space-5); }
.mn5  { margin: -var(--space-5); }
.mxn5 { margin-left: -var(--space-5); margin-right: -var(--space-5); }
.myn5 { margin-top: -var(--space-5); margin-bottom: -var(--space-5); }
.mln5 { margin-left: -var(--space-5); }
.mrn5 { margin-right: -var(--space-5); }
.mtn5 { margin-top: -var(--space-5); }
.mbn5 { margin-bottom: -var(--space-5); }

.m6  { margin: var(--space-6); }
.mt6 { margin-top: var(--space-6); }
.mb6 { margin-bottom: var(--space-6); }
.ml6 { margin-left: var(--space-6); }
.mr6 { margin-right: var(--space-6); }
.p6  { padding: var(--space-6); }
.pt6  { padding-top: var(--space-6); }
.pb6  { padding-bottom: var(--space-6); }
.pl6  { padding-left: var(--space-6); }
.pr6  { padding-right: var(--space-6); }
.px6 { padding-left: var(--space-6); padding-right: var(--space-6); }
.py6 { padding-top: var(--space-6); padding-bottom: var(--space-6); }
.mn6  { margin: -var(--space-6); }
.mxn6 { margin-left: -var(--space-6); margin-right: -var(--space-6); }
.myn6 { margin-top: -var(--space-6); margin-bottom: -var(--space-6); }
.mln6 { margin-left: -var(--space-6); }
.mrn6 { margin-right: -var(--space-6); }
.mtn6 { margin-top: -var(--space-6); }
.mbn6 { margin-bottom: -var(--space-6); }

.m7  { margin: var(--space-7); }
.mt7 { margin-top: var(--space-7); }
.mb7 { margin-bottom: var(--space-7); }
.ml7 { margin-left: var(--space-7); }
.mr7 { margin-right: var(--space-7); }
.p7  { padding: var(--space-7); }
.pt7  { padding-top: var(--space-7); }
.pb7  { padding-bottom: var(--space-7); }
.pl7  { padding-left: var(--space-7); }
.pr7  { padding-right: var(--space-7); }
.px7 { padding-left: var(--space-7); padding-right: var(--space-7); }
.py7 { padding-top: var(--space-7); padding-bottom: var(--space-7); }
.mn7  { margin: -var(--space-7); }
.mxn7 { margin-left: -var(--space-7); margin-right: -var(--space-7); }
.myn7 { margin-top: -var(--space-7); margin-bottom: -var(--space-7); }
.mln7 { margin-left: -var(--space-7); }
.mrn7 { margin-right: -var(--space-7); }
.mtn7 { margin-top: -var(--space-7); }
.mbn7 { margin-bottom: -var(--space-7); }

.m8  { margin: var(--space-8); }
.mt8 { margin-top: var(--space-8); }
.mb8 { margin-bottom: var(--space-8); }
.ml8 { margin-left: var(--space-8); }
.mr8 { margin-right: var(--space-8); }
.p8  { padding: var(--space-8); }
.pt8  { padding-top: var(--space-8); }
.pb8  { padding-bottom: var(--space-8); }
.pl8  { padding-left: var(--space-8); }
.pr8  { padding-right: var(--space-8); }
.px8 { padding-left: var(--space-8); padding-right: var(--space-8); }
.py8 { padding-top: var(--space-8); padding-bottom: var(--space-8); }
.mn8  { margin: -var(--space-8); }
.mxn8 { margin-left: -var(--space-8); margin-right: -var(--space-8); }
.myn8 { margin-top: -var(--space-8); margin-bottom: -var(--space-8); }
.mln8 { margin-left: -var(--space-8); }
.mrn8 { margin-right: -var(--space-8); }
.mtn8 { margin-top: -var(--space-8); }
.mbn8 { margin-bottom: -var(--space-8); }

.m9  { margin: var(--space-9); }
.mt9 { margin-top: var(--space-9); }
.mb9 { margin-bottom: var(--space-9); }
.ml9 { margin-left: var(--space-9); }
.mr9 { margin-right: var(--space-9); }
.p9  { padding: var(--space-9); }
.pt9  { padding-top: var(--space-9); }
.pb9  { padding-bottom: var(--space-9); }
.pl9  { padding-left: var(--space-9); }
.pr9  { padding-right: var(--space-9); }
.px9 { padding-left: var(--space-9); padding-right: var(--space-9); }
.py9 { padding-top: var(--space-9); padding-bottom: var(--space-9); }
.mn9  { margin: -var(--space-9); }
.mxn9 { margin-left: -var(--space-9); margin-right: -var(--space-9); }
.myn9 { margin-top: -var(--space-9); margin-bottom: -var(--space-9); }
.mln9 { margin-left: -var(--space-9); }
.mrn9 { margin-right: -var(--space-9); }
.mtn9 { margin-top: -var(--space-9); }
.mbn9 { margin-bottom: -var(--space-9); }

@media (--breakpoint-sm) {
    .sm-m0  { margin-top: 0; margin-bottom: 0; margin-left: 0; margin-right: 0; }
    .sm-mt0 { margin-top: 0 }
    .sm-p0  { padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; }
    .sm-my0 { margin-top: 0; margin-bottom: 0; }

    .sm-m1  { margin: var(--space-1); }
    .sm-mt1 { margin-top: var(--space-1); }
    .sm-mb1 { margin-bottom: var(--space-1); }
    .sm-ml1 { margin-left: var(--space-1); }
    .sm-mr1 { margin-right: var(--space-1); }
    .sm-p1  { padding: var(--space-1); }
    .sm-pt1  { padding-top: var(--space-1); }
    .sm-pb1  { padding-bottom: var(--space-1); }
    .sm-pl1  { padding-left: var(--space-1); }
    .sm-pr1  { padding-right: var(--space-1); }
    .sm-px1 { padding-left: var(--space-1); padding-right: var(--space-1); }
    .sm-py1 { padding-top: var(--space-1); padding-bottom: var(--space-1); }
    .sm-mn1  { margin: -var(--space-1); }
    .sm-mxn1 { margin-left: -var(--space-1); margin-right: -var(--space-1); }
    .sm-myn1 { margin-top: -var(--space-1); margin-bottom: -var(--space-1); }
    .sm-mln1 { margin-left: -var(--space-1); }
    .sm-mrn1 { margin-right: -var(--space-1); }
    .sm-mtn1 { margin-top: -var(--space-1); }
    .sm-mbn1 { margin-bottom: -var(--space-1); }

    .sm-m2  { margin: var(--space-2); }
    .sm-mt2 { margin-top: var(--space-2); }
    .sm-mb2 { margin-bottom: var(--space-2); }
    .sm-my2 { margin-top: var(--space-2); margin-bottom: var(--space-2); }
    .sm-ml2 { margin-left: var(--space-2); }
    .sm-mr2 { margin-right: var(--space-2); }
    .sm-p2  { padding: var(--space-2); }
    .sm-pt2  { padding-top: var(--space-2); }
    .sm-pb2  { padding-bottom: var(--space-2); }
    .sm-pl2  { padding-left: var(--space-2); }
    .sm-pr2  { padding-right: var(--space-2); }
    .sm-px2 { padding-left: var(--space-2); padding-right: var(--space-2); }
    .sm-py2 { padding-top: var(--space-2); padding-bottom: var(--space-2); }
    .sm-mn2  { margin: -var(--space-2); }
    .sm-mxn2 { margin-left: -var(--space-2); margin-right: -var(--space-2); }
    .sm-myn2 { margin-top: -var(--space-2); margin-bottom: -var(--space-2); }
    .sm-mln2 { margin-left: -var(--space-2); }
    .sm-mrn2 { margin-right: -var(--space-2); }
    .sm-mtn2 { margin-top: -var(--space-2); }
    .sm-mbn2 { margin-bottom: -var(--space-2); }

    .sm-m3  { margin: var(--space-3); }
    .sm-mt3 { margin-top: var(--space-3); }
    .sm-mb3 { margin-bottom: var(--space-3); }
    .sm-ml3 { margin-left: var(--space-3); }
    .sm-mr3 { margin-right: var(--space-3); }
    .sm-p3  { padding: var(--space-3); }
    .sm-pt3  { padding-top: var(--space-3); }
    .sm-pb3  { padding-bottom: var(--space-3); }
    .sm-pl3  { padding-left: var(--space-3); }
    .sm-pr3  { padding-right: var(--space-3); }
    .sm-px3 { padding-left: var(--space-3); padding-right: var(--space-3); }
    .sm-py3 { padding-top: var(--space-3); padding-bottom: var(--space-3); }
    .sm-mn3  { margin: -var(--space-3); }
    .sm-mxn3 { margin-left: -var(--space-3); margin-right: -var(--space-3); }
    .sm-myn3 { margin-top: -var(--space-3); margin-bottom: -var(--space-3); }
    .sm-mln3 { margin-left: -var(--space-3); }
    .sm-mrn3 { margin-right: -var(--space-3); }
    .sm-mtn3 { margin-top: -var(--space-3); }
    .sm-mbn3 { margin-bottom: -var(--space-3); }

    .sm-m4  { margin: var(--space-4); }
    .sm-mt4 { margin-top: var(--space-4); }
    .sm-mb4 { margin-bottom: var(--space-4); }
    .sm-ml4 { margin-left: var(--space-4); }
    .sm-mr4 { margin-right: var(--space-4); }
    .sm-p4  { padding: var(--space-4); }
    .sm-pt4  { padding-top: var(--space-4); }
    .sm-pb4  { padding-bottom: var(--space-4); }
    .sm-pl4  { padding-left: var(--space-4); }
    .sm-pr4  { padding-right: var(--space-4); }
    .sm-px4 { padding-left: var(--space-4); padding-right: var(--space-4); }
    .sm-py4 { padding-top: var(--space-4); padding-bottom: var(--space-4); }
    .sm-mn4  { margin: -var(--space-4); }
    .sm-mxn4 { margin-left: -var(--space-4); margin-right: -var(--space-4); }
    .sm-myn4 { margin-top: -var(--space-4); margin-bottom: -var(--space-4); }
    .sm-mln4 { margin-left: -var(--space-4); }
    .sm-mrn4 { margin-right: -var(--space-4); }
    .sm-mtn4 { margin-top: -var(--space-4); }
    .sm-mbn4 { margin-bottom: -var(--space-4); }

    .sm-m5  { margin: var(--space-5); }
    .sm-mt5 { margin-top: var(--space-5); }
    .sm-mb5 { margin-bottom: var(--space-5); }
    .sm-ml5 { margin-left: var(--space-5); }
    .sm-mr5 { margin-right: var(--space-5); }
    .sm-p5  { padding: var(--space-5); }
    .sm-pt5  { padding-top: var(--space-5); }
    .sm-pb5  { padding-bottom: var(--space-5); }
    .sm-pl5  { padding-left: var(--space-5); }
    .sm-pr5  { padding-right: var(--space-5); }
    .sm-px5 { padding-left: var(--space-5); padding-right: var(--space-5); }
    .sm-py5 { padding-top: var(--space-5); padding-bottom: var(--space-5); }
    .sm-mn5  { margin: -var(--space-5); }
    .sm-mxn5 { margin-left: -var(--space-5); margin-right: -var(--space-5); }
    .sm-myn5 { margin-top: -var(--space-5); margin-bottom: -var(--space-5); }
    .sm-mln5 { margin-left: -var(--space-5); }
    .sm-mrn5 { margin-right: -var(--space-5); }
    .sm-mtn5 { margin-top: -var(--space-5); }
    .sm-mbn5 { margin-bottom: -var(--space-5); }

    .sm-m6  { margin: var(--space-6); }
    .sm-mt6 { margin-top: var(--space-6); }
    .sm-mb6 { margin-bottom: var(--space-6); }
    .sm-ml6 { margin-left: var(--space-6); }
    .sm-mr6 { margin-right: var(--space-6); }
    .sm-p6  { padding: var(--space-6); }
    .sm-pt6  { padding-top: var(--space-6); }
    .sm-pb6  { padding-bottom: var(--space-6); }
    .sm-pl6  { padding-left: var(--space-6); }
    .sm-pr6  { padding-right: var(--space-6); }
    .sm-px6 { padding-left: var(--space-6); padding-right: var(--space-6); }
    .sm-py6 { padding-top: var(--space-6); padding-bottom: var(--space-6); }
    .sm-mn6  { margin: -var(--space-6); }
    .sm-mxn6 { margin-left: -var(--space-6); margin-right: -var(--space-6); }
    .sm-myn6 { margin-top: -var(--space-6); margin-bottom: -var(--space-6); }
    .sm-mln6 { margin-left: -var(--space-6); }
    .sm-mrn6 { margin-right: -var(--space-6); }
    .sm-mtn6 { margin-top: -var(--space-6); }
    .sm-mbn6 { margin-bottom: -var(--space-6); }

    .sm-m7  { margin: var(--space-7); }
    .sm-mt7 { margin-top: var(--space-7); }
    .sm-mb7 { margin-bottom: var(--space-7); }
    .sm-ml7 { margin-left: var(--space-7); }
    .sm-mr7 { margin-right: var(--space-7); }
    .sm-p7  { padding: var(--space-7); }
    .sm-pt7  { padding-top: var(--space-7); }
    .sm-pb7  { padding-bottom: var(--space-7); }
    .sm-pl7  { padding-left: var(--space-7); }
    .sm-pr7  { padding-right: var(--space-7); }
    .sm-px7 { padding-left: var(--space-7); padding-right: var(--space-7); }
    .sm-py7 { padding-top: var(--space-7); padding-bottom: var(--space-7); }
    .sm-mn7  { margin: -var(--space-7); }
    .sm-mxn7 { margin-left: -var(--space-7); margin-right: -var(--space-7); }
    .sm-myn7 { margin-top: -var(--space-7); margin-bottom: -var(--space-7); }
    .sm-mln7 { margin-left: -var(--space-7); }
    .sm-mrn7 { margin-right: -var(--space-7); }
    .sm-mtn7 { margin-top: -var(--space-7); }
    .sm-mbn7 { margin-bottom: -var(--space-7); }

    .sm-m8  { margin: var(--space-8); }
    .sm-mt8 { margin-top: var(--space-8); }
    .sm-mb8 { margin-bottom: var(--space-8); }
    .sm-ml8 { margin-left: var(--space-8); }
    .sm-mr8 { margin-right: var(--space-8); }
    .sm-p8  { padding: var(--space-8); }
    .sm-pt8  { padding-top: var(--space-8); }
    .sm-pb8  { padding-bottom: var(--space-8); }
    .sm-pl8  { padding-left: var(--space-8); }
    .sm-pr8  { padding-right: var(--space-8); }
    .sm-px8 { padding-left: var(--space-8); padding-right: var(--space-8); }
    .sm-py8 { padding-top: var(--space-8); padding-bottom: var(--space-8); }
    .sm-mn8  { margin: -var(--space-8); }
    .sm-mxn8 { margin-left: -var(--space-8); margin-right: -var(--space-8); }
    .sm-myn8 { margin-top: -var(--space-8); margin-bottom: -var(--space-8); }
    .sm-mln8 { margin-left: -var(--space-8); }
    .sm-mrn8 { margin-right: -var(--space-8); }
    .sm-mtn8 { margin-top: -var(--space-8); }
    .sm-mbn8 { margin-bottom: -var(--space-8); }

    .sm-m9  { margin: var(--space-9); }
    .sm-mt9 { margin-top: var(--space-9); }
    .sm-mb9 { margin-bottom: var(--space-9); }
    .sm-ml9 { margin-left: var(--space-9); }
    .sm-mr9 { margin-right: var(--space-9); }
    .sm-p9  { padding: var(--space-9); }
    .sm-pt9  { padding-top: var(--space-9); }
    .sm-pb9  { padding-bottom: var(--space-9); }
    .sm-pl9  { padding-left: var(--space-9); }
    .sm-pr9  { padding-right: var(--space-9); }
    .sm-px9 { padding-left: var(--space-9); padding-right: var(--space-9); }
    .sm-py9 { padding-top: var(--space-9); padding-bottom: var(--space-9); }
    .sm-mn9  { margin: -var(--space-9); }
    .sm-mxn9 { margin-left: -var(--space-9); margin-right: -var(--space-9); }
    .sm-myn9 { margin-top: -var(--space-9); margin-bottom: -var(--space-9); }
    .sm-mln9 { margin-left: -var(--space-9); }
    .sm-mrn9 { margin-right: -var(--space-9); }
    .sm-mtn9 { margin-top: -var(--space-9); }
    .sm-mbn9 { margin-bottom: -var(--space-9); }

    .sm-margin-top-300 {
        margin-top: 300px;
    }
}

@media (--breakpoint-md) {
    .md-m0  { margin-top: 0; margin-bottom: 0; margin-left: 0; margin-right: 0; }
    .md-p0  { padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; }
    .md-pr0 { padding-right: 0; }
    .md-pl0 { padding-left: 0; }

    .md-mt0 { margin-top: 0; }

    .md-mr-auto { margin-right: auto; }
    .md-ml-auto { margin-left: auto; }

    .md-m1  { margin: var(--space-1); }
    .md-mt1 { margin-top: var(--space-1); }
    .md-mb1 { margin-bottom: var(--space-1); }
    .md-ml1 { margin-left: var(--space-1); }
    .md-mr1 { margin-right: var(--space-1); }
    .md-p1  { padding: var(--space-1); }
    .md-pt1  { padding-top: var(--space-1); }
    .md-pb1  { padding-bottom: var(--space-1); }
    .md-pl1  { padding-left: var(--space-1); }
    .md-pr1  { padding-right: var(--space-1); }
    .md-px1 { padding-left: var(--space-1); padding-right: var(--space-1); }
    .md-py1 { padding-top: var(--space-1); padding-bottom: var(--space-1); }
    .md-mn1  { margin: -var(--space-1); }
    .md-mxn1 { margin-left: -var(--space-1); margin-right: -var(--space-1); }
    .md-myn1 { margin-top: -var(--space-1); margin-bottom: -var(--space-1); }
    .md-mln1 { margin-left: -var(--space-1); }
    .md-mrn1 { margin-right: -var(--space-1); }
    .md-mtn1 { margin-top: -var(--space-1); }
    .md-mbn1 { margin-bottom: -var(--space-1); }

    .md-m2  { margin: var(--space-2); }
    .md-mt2 { margin-top: var(--space-2); }
    .md-mb2 { margin-bottom: var(--space-2); }
    .md-ml2 { margin-left: var(--space-2); }
    .md-mr2 { margin-right: var(--space-2); }
    .md-my2 { margin-top: var(--space-2); margin-bottom: var(--space-2); }
    .md-p2  { padding: var(--space-2); }
    .md-pt2  { padding-top: var(--space-2); }
    .md-pb2  { padding-bottom: var(--space-2); }
    .md-pl2  { padding-left: var(--space-2); }
    .md-pr2  { padding-right: var(--space-2); }
    .md-px2 { padding-left: var(--space-2); padding-right: var(--space-2); }
    .md-py2 { padding-top: var(--space-2); padding-bottom: var(--space-2); }
    .md-mn2  { margin: -var(--space-2); }
    .md-mxn2 { margin-left: -var(--space-2); margin-right: -var(--space-2); }
    .md-myn2 { margin-top: -var(--space-2); margin-bottom: -var(--space-2); }
    .md-mln2 { margin-left: -var(--space-2); }
    .md-mrn2 { margin-right: -var(--space-2); }
    .md-mtn2 { margin-top: -var(--space-2); }
    .md-mbn2 { margin-bottom: -var(--space-2); }

    .md-m3  { margin: var(--space-3); }
    .md-mt3 { margin-top: var(--space-3); }
    .md-mb3 { margin-bottom: var(--space-3); }
    .md-ml3 { margin-left: var(--space-3); }
    .md-mr3 { margin-right: var(--space-3); }
    .md-p3  { padding: var(--space-3); }
    .md-pt3  { padding-top: var(--space-3); }
    .md-pb3  { padding-bottom: var(--space-3); }
    .md-pl3  { padding-left: var(--space-3); }
    .md-pr3  { padding-right: var(--space-3); }
    .md-px3 { padding-left: var(--space-3); padding-right: var(--space-3); }
    .md-py3 { padding-top: var(--space-3); padding-bottom: var(--space-3); }
    .md-mn3  { margin: -var(--space-3); }
    .md-mxn3 { margin-left: -var(--space-3); margin-right: -var(--space-3); }
    .md-myn3 { margin-top: -var(--space-3); margin-bottom: -var(--space-3); }
    .md-mln3 { margin-left: -var(--space-3); }
    .md-mrn3 { margin-right: -var(--space-3); }
    .md-mtn3 { margin-top: -var(--space-3); }
    .md-mbn3 { margin-bottom: -var(--space-3); }

    .md-m4  { margin: var(--space-4); }
    .md-mt4 { margin-top: var(--space-4); }
    .md-mb4 { margin-bottom: var(--space-4); }
    .md-ml4 { margin-left: var(--space-4); }
    .md-mr4 { margin-right: var(--space-4); }
    .md-p4  { padding: var(--space-4); }
    .md-pt4  { padding-top: var(--space-4); }
    .md-pb4  { padding-bottom: var(--space-4); }
    .md-pl4  { padding-left: var(--space-4); }
    .md-pr4  { padding-right: var(--space-4); }
    .md-px4 { padding-left: var(--space-4); padding-right: var(--space-4); }
    .md-py4 { padding-top: var(--space-4); padding-bottom: var(--space-4); }
    .md-mn4  { margin: -var(--space-4); }
    .md-mxn4 { margin-left: -var(--space-4); margin-right: -var(--space-4); }
    .md-myn4 { margin-top: -var(--space-4); margin-bottom: -var(--space-4); }
    .md-mln4 { margin-left: -var(--space-4); }
    .md-mrn4 { margin-right: -var(--space-4); }
    .md-mtn4 { margin-top: -var(--space-4); }
    .md-mbn4 { margin-bottom: -var(--space-4); }

    .md-m5  { margin: var(--space-5); }
    .md-mt5 { margin-top: var(--space-5); }
    .md-mb5 { margin-bottom: var(--space-5); }
    .md-ml5 { margin-left: var(--space-5); }
    .md-mr5 { margin-right: var(--space-5); }
    .md-p5  { padding: var(--space-5); }
    .md-pt5  { padding-top: var(--space-5); }
    .md-pb5  { padding-bottom: var(--space-5); }
    .md-pl5  { padding-left: var(--space-5); }
    .md-pr5  { padding-right: var(--space-5); }
    .md-px5 { padding-left: var(--space-5); padding-right: var(--space-5); }
    .md-py5 { padding-top: var(--space-5); padding-bottom: var(--space-5); }
    .md-mn5  { margin: -var(--space-5); }
    .md-mxn5 { margin-left: -var(--space-5); margin-right: -var(--space-5); }
    .md-myn5 { margin-top: -var(--space-5); margin-bottom: -var(--space-5); }
    .md-mln5 { margin-left: -var(--space-5); }
    .md-mrn5 { margin-right: -var(--space-5); }
    .md-mtn5 { margin-top: -var(--space-5); }
    .md-mbn5 { margin-bottom: -var(--space-5); }

    .md-m6  { margin: var(--space-6); }
    .md-mt6 { margin-top: var(--space-6); }
    .md-mb6 { margin-bottom: var(--space-6); }
    .md-ml6 { margin-left: var(--space-6); }
    .md-mr6 { margin-right: var(--space-6); }
    .md-p6  { padding: var(--space-6); }
    .md-pt6  { padding-top: var(--space-6); }
    .md-pb6  { padding-bottom: var(--space-6); }
    .md-pl6  { padding-left: var(--space-6); }
    .md-pr6  { padding-right: var(--space-6); }
    .md-px6 { padding-left: var(--space-6); padding-right: var(--space-6); }
    .md-py6 { padding-top: var(--space-6); padding-bottom: var(--space-6); }
    .md-mn6  { margin: -var(--space-6); }
    .md-mxn6 { margin-left: -var(--space-6); margin-right: -var(--space-6); }
    .md-myn6 { margin-top: -var(--space-6); margin-bottom: -var(--space-6); }
    .md-mln6 { margin-left: -var(--space-6); }
    .md-mrn6 { margin-right: -var(--space-6); }
    .md-mtn6 { margin-top: -var(--space-6); }
    .md-mbn6 { margin-bottom: -var(--space-6); }

    .md-m7  { margin: var(--space-7); }
    .md-mt7 { margin-top: var(--space-7); }
    .md-mb7 { margin-bottom: var(--space-7); }
    .md-ml7 { margin-left: var(--space-7); }
    .md-mr7 { margin-right: var(--space-7); }
    .md-p7  { padding: var(--space-7); }
    .md-pt7  { padding-top: var(--space-7); }
    .md-pb7  { padding-bottom: var(--space-7); }
    .md-pl7  { padding-left: var(--space-7); }
    .md-pr7  { padding-right: var(--space-7); }
    .md-px7 { padding-left: var(--space-7); padding-right: var(--space-7); }
    .md-py7 { padding-top: var(--space-7); padding-bottom: var(--space-7); }
    .md-mn7  { margin: -var(--space-7); }
    .md-mxn7 { margin-left: -var(--space-7); margin-right: -var(--space-7); }
    .md-myn7 { margin-top: -var(--space-7); margin-bottom: -var(--space-7); }
    .md-mln7 { margin-left: -var(--space-7); }
    .md-mrn7 { margin-right: -var(--space-7); }
    .md-mtn7 { margin-top: -var(--space-7); }
    .md-mbn7 { margin-bottom: -var(--space-7); }

    .md-m8  { margin: var(--space-8); }
    .md-mt8 { margin-top: var(--space-8); }
    .md-mb8 { margin-bottom: var(--space-8); }
    .md-ml8 { margin-left: var(--space-8); }
    .md-mr8 { margin-right: var(--space-8); }
    .md-p8  { padding: var(--space-8); }
    .md-pt8  { padding-top: var(--space-8); }
    .md-pb8  { padding-bottom: var(--space-8); }
    .md-pl8  { padding-left: var(--space-8); }
    .md-pr8  { padding-right: var(--space-8); }
    .md-px8 { padding-left: var(--space-8); padding-right: var(--space-8); }
    .md-py8 { padding-top: var(--space-8); padding-bottom: var(--space-8); }
    .md-mn8  { margin: -var(--space-8); }
    .md-mxn8 { margin-left: -var(--space-8); margin-right: -var(--space-8); }
    .md-myn8 { margin-top: -var(--space-8); margin-bottom: -var(--space-8); }
    .md-mln8 { margin-left: -var(--space-8); }
    .md-mrn8 { margin-right: -var(--space-8); }
    .md-mtn8 { margin-top: -var(--space-8); }
    .md-mbn8 { margin-bottom: -var(--space-8); }

    .md-m9  { margin: var(--space-9); }
    .md-mt9 { margin-top: var(--space-9); }
    .md-mb9 { margin-bottom: var(--space-9); }
    .md-ml9 { margin-left: var(--space-9); }
    .md-mr9 { margin-right: var(--space-9); }
    .md-p9  { padding: var(--space-9); }
    .md-pt9  { padding-top: var(--space-9); }
    .md-pb9  { padding-bottom: var(--space-9); }
    .md-pl9  { padding-left: var(--space-9); }
    .md-pr9  { padding-right: var(--space-9); }
    .md-px9 { padding-left: var(--space-9); padding-right: var(--space-9); }
    .md-py9 { padding-top: var(--space-9); padding-bottom: var(--space-9); }
    .md-mn9  { margin: -var(--space-9); }
    .md-mxn9 { margin-left: -var(--space-9); margin-right: -var(--space-9); }
    .md-myn9 { margin-top: -var(--space-9); margin-bottom: -var(--space-9); }
    .md-mln9 { margin-left: -var(--space-9); }
    .md-mrn9 { margin-right: -var(--space-9); }
    .md-mtn9 { margin-top: -var(--space-9); }
    .md-mbn9 { margin-bottom: -var(--space-9); }
}

@media (--breakpoint-lg) {
    .lg-m0  { margin-top: 0; margin-bottom: 0; margin-left: 0; margin-right: 0; }
    .lg-p0  { padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0; }

    .lg-m1  { margin: var(--space-1); }
    .lg-mt1 { margin-top: var(--space-1); }
    .lg-mb1 { margin-bottom: var(--space-1); }
    .lg-ml1 { margin-left: var(--space-1); }
    .lg-mr1 { margin-right: var(--space-1); }
    .lg-p1  { padding: var(--space-1); }
    .lg-pt1  { padding-top: var(--space-1); }
    .lg-pb1  { padding-bottom: var(--space-1); }
    .lg-pl1  { padding-left: var(--space-1); }
    .lg-pr1  { padding-right: var(--space-1); }
    .lg-px1 { padding-left: var(--space-1); padding-right: var(--space-1); }
    .lg-py1 { padding-top: var(--space-1); padding-bottom: var(--space-1); }
    .lg-mn1  { margin: -var(--space-1); }
    .lg-mxn1 { margin-left: -var(--space-1); margin-right: var(--space-1); }
    .lg-myn1 { margin-top: -var(--space-1); margin-bottom: -var(--space-1); }
    .lg-mln1 { margin-left: -var(--space-1); }
    .lg-mrn1 { margin-right: -var(--space-1); }
    .lg-mtn1 { margin-top: -var(--space-1); }
    .lg-mbn1 { margin-bottom: -var(--space-1); }

    .lg-m2  { margin: var(--space-2); }
    .lg-mt2 { margin-top: var(--space-2); }
    .lg-mb2 { margin-bottom: var(--space-2); }
    .lg-ml2 { margin-left: var(--space-2); }
    .lg-mr2 { margin-right: var(--space-2); }
    .lg-p2  { padding: var(--space-2); }
    .lg-pt2  { padding-top: var(--space-2); }
    .lg-pb2  { padding-bottom: var(--space-2); }
    .lg-pl2  { padding-left: var(--space-2); }
    .lg-pr2  { padding-right: var(--space-2); }
    .lg-px2 { padding-left: var(--space-2); padding-right: var(--space-2); }
    .lg-py2 { padding-top: var(--space-2); padding-bottom: var(--space-2); }
    .lg-mn2  { margin: -var(--space-2); }
    .lg-mxn2 { margin-left: -var(--space-2); margin-right: -var(--space-2); }
    .lg-myn2 { margin-top: -var(--space-2); margin-bottom: -var(--space-2); }
    .lg-mln2 { margin-left: -var(--space-2); }
    .lg-mrn2 { margin-right: -var(--space-2); }
    .lg-mtn2 { margin-top: -var(--space-2); }
    .lg-mbn2 { margin-bottom: -var(--space-2); }

    .lg-m3  { margin: var(--space-3); }
    .lg-mt3 { margin-top: var(--space-3); }
    .lg-mb3 { margin-bottom: var(--space-3); }
    .lg-ml3 { margin-left: var(--space-3); }
    .lg-mr3 { margin-right: var(--space-3); }
    .lg-p3  { padding: var(--space-3); }
    .lg-pt3  { padding-top: var(--space-3); }
    .lg-pb3  { padding-bottom: var(--space-3); }
    .lg-pl3  { padding-left: var(--space-3); }
    .lg-pr3  { padding-right: var(--space-3); }
    .lg-px3 { padding-left: var(--space-3); padding-right: var(--space-3); }
    .lg-py3 { padding-top: var(--space-3); padding-bottom: var(--space-3); }
    .lg-mn3  { margin: -var(--space-3); }
    .lg-mxn3 { margin-left: -var(--space-3); margin-right: -var(--space-3); }
    .lg-myn3 { margin-top: -var(--space-3); margin-bottom: -var(--space-3); }
    .lg-mln3 { margin-left: -var(--space-3); }
    .lg-mrn3 { margin-right: -var(--space-3); }
    .lg-mtn3 { margin-top: -var(--space-3); }
    .lg-mbn3 { margin-bottom: -var(--space-3); }

    .lg-m4  { margin: var(--space-4); }
    .lg-mt4 { margin-top: var(--space-4); }
    .lg-mb4 { margin-bottom: var(--space-4); }
    .lg-ml4 { margin-left: var(--space-4); }
    .lg-mr4 { margin-right: var(--space-4); }
    .lg-p4  { padding: var(--space-4); }
    .lg-pt4  { padding-top: var(--space-4); }
    .lg-pb4  { padding-bottom: var(--space-4); }
    .lg-pl4  { padding-left: var(--space-4); }
    .lg-pr4  { padding-right: var(--space-4); }
    .lg-px4 { padding-left: var(--space-4); padding-right: var(--space-4); }
    .lg-py4 { padding-top: var(--space-4); padding-bottom: var(--space-4); }
    .lg-mn4  { margin: -var(--space-4); }
    .lg-mxn4 { margin-left: -var(--space-4); margin-right: -var(--space-4); }
    .lg-myn4 { margin-top: -var(--space-4); margin-bottom: -var(--space-4); }
    .lg-mln4 { margin-left: -var(--space-4); }
    .lg-mrn4 { margin-right: -var(--space-4); }
    .lg-mtn4 { margin-top: -var(--space-4); }
    .lg-mbn4 { margin-bottom: -var(--space-4); }

    .lg-m5  { margin: var(--space-5); }
    .lg-mt5 { margin-top: var(--space-5); }
    .lg-mb5 { margin-bottom: var(--space-5); }
    .lg-ml5 { margin-left: var(--space-5); }
    .lg-mr5 { margin-right: var(--space-5); }
    .lg-p5  { padding: var(--space-5); }
    .lg-pt5  { padding-top: var(--space-5); }
    .lg-pb5  { padding-bottom: var(--space-5); }
    .lg-pl5  { padding-left: var(--space-5); }
    .lg-pr5  { padding-right: var(--space-5); }
    .lg-px5 { padding-left: var(--space-5); padding-right: var(--space-5); }
    .lg-py5 { padding-top: var(--space-5); padding-bottom: var(--space-5); }
    .lg-mn5  { margin: -var(--space-5); }
    .lg-mxn5 { margin-left: -var(--space-5); margin-right: -var(--space-5); }
    .lg-myn5 { margin-top: -var(--space-5); margin-bottom: -var(--space-5); }
    .lg-mln5 { margin-left: -var(--space-5); }
    .lg-mrn5 { margin-right: -var(--space-5); }
    .lg-mtn5 { margin-top: -var(--space-5); }
    .lg-mbn5 { margin-bottom: -var(--space-5); }

    .lg-m7  { margin: var(--space-6); }
    .lg-mt6 { margin-top: var(--space-6); }
    .lg-mb6 { margin-bottom: var(--space-6); }
    .lg-ml6 { margin-left: var(--space-6); }
    .lg-mr6 { margin-right: var(--space-6); }
    .lg-p6  { padding: var(--space-6); }
    .lg-pt6  { padding-top: var(--space-6); }
    .lg-pb6  { padding-bottom: var(--space-6); }
    .lg-pl6  { padding-left: var(--space-6); }
    .lg-pr6  { padding-right: var(--space-6); }
    .lg-px6 { padding-left: var(--space-6); padding-right: var(--space-6); }
    .lg-py6 { padding-top: var(--space-6); padding-bottom: var(--space-6); }
    .lg-mn6  { margin: -var(--space-6); }
    .lg-mxn6 { margin-left: -var(--space-6); margin-right: -var(--space-6); }
    .lg-myn6 { margin-top: -var(--space-6); margin-bottom: -var(--space-6); }
    .lg-mln6 { margin-left: -var(--space-6); }
    .lg-mrn6 { margin-right: -var(--space-6); }
    .lg-mtn6 { margin-top: -var(--space-6); }
    .lg-mbn6 { margin-bottom: -var(--space-6); }

    .lg-m7  { margin: var(--space-7); }
    .lg-mt7 { margin-top: var(--space-7); }
    .lg-mb7 { margin-bottom: var(--space-7); }
    .lg-ml7 { margin-left: var(--space-7); }
    .lg-mr7 { margin-right: var(--space-7); }
    .lg-p7  { padding: var(--space-7); }
    .lg-pt7  { padding-top: var(--space-7); }
    .lg-pb7  { padding-bottom: var(--space-7); }
    .lg-pl7  { padding-left: var(--space-7); }
    .lg-pr7  { padding-right: var(--space-7); }
    .lg-px7 { padding-left: var(--space-7); padding-right: var(--space-7); }
    .lg-py7 { padding-top: var(--space-7); padding-bottom: var(--space-7); }
    .lg-mn7  { margin: -var(--space-7); }
    .lg-mxn7 { margin-left: -var(--space-7); margin-right: -var(--space-7); }
    .lg-myn7 { margin-top: -var(--space-7); margin-bottom: -var(--space-7); }
    .lg-mln7 { margin-left: -var(--space-7); }
    .lg-mrn7 { margin-right: -var(--space-7); }
    .lg-mtn7 { margin-top: -var(--space-7); }
    .lg-mbn7 { margin-bottom: -var(--space-7); }

    .lg-m8  { margin: var(--space-8); }
    .lg-mt8 { margin-top: var(--space-8); }
    .lg-mb8 { margin-bottom: var(--space-8); }
    .lg-ml8 { margin-left: var(--space-8); }
    .lg-mr8 { margin-right: var(--space-8); }
    .lg-p8  { padding: var(--space-8); }
    .lg-pt8  { padding-top: var(--space-8); }
    .lg-pb8  { padding-bottom: var(--space-8); }
    .lg-pl8  { padding-left: var(--space-8); }
    .lg-pr8  { padding-right: var(--space-8); }
    .lg-px8 { padding-left: var(--space-8); padding-right: var(--space-8); }
    .lg-py8 { padding-top: var(--space-8); padding-bottom: var(--space-8); }
    .lg-mn8  { margin: -var(--space-8); }
    .lg-mxn8 { margin-left: -var(--space-8); margin-right: -var(--space-8); }
    .lg-myn8 { margin-top: -var(--space-8); margin-bottom: -var(--space-8); }
    .lg-mln8 { margin-left: -var(--space-8); }
    .lg-mrn8 { margin-right: -var(--space-8); }
    .lg-mtn8 { margin-top: -var(--space-8); }
    .lg-mbn8 { margin-bottom: -var(--space-8); }

    .lg-m9  { margin: var(--space-9); }
    .lg-mt9 { margin-top: var(--space-9); }
    .lg-mb9 { margin-bottom: var(--space-9); }
    .lg-ml9 { margin-left: var(--space-9); }
    .lg-mr9 { margin-right: var(--space-9); }
    .lg-p9  { padding: var(--space-9); }
    .lg-pt9  { padding-top: var(--space-9); }
    .lg-pb9  { padding-bottom: var(--space-9); }
    .lg-pl9  { padding-left: var(--space-9); }
    .lg-pr9  { padding-right: var(--space-9); }
    .lg-px9 { padding-left: var(--space-9); padding-right: var(--space-9); }
    .lg-py9 { padding-top: var(--space-9); padding-bottom: var(--space-9); }
    .lg-mn9  { margin: -var(--space-9); }
    .lg-mxn9 { margin-left: -var(--space-9); margin-right: -var(--space-9); }
    .lg-myn9 { margin-top: -var(--space-9); margin-bottom: -var(--space-9); }
    .lg-mln9 { margin-left: -var(--space-9); }
    .lg-mrn9 { margin-right: -var(--space-9); }
    .lg-mtn9 { margin-top: -var(--space-9); }
    .lg-mbn9 { margin-bottom: -var(--space-9); }
}
