.background-fill {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.background-pattern {
    background-position: top left;
    background-image: url(/images/pattern.png);
    background-size: 1925px 725px;
    background-repeat: repeat-x;
}
