.hover-icon-nudge-right i {
    transition: left .2s cubic-bezier(.45,.65,.34,.96);
    left: 0px;
}
.hover-icon-nudge-right:hover i {
    left: 3px;
}

.hover-bg-grey-003:hover {
    background-color: var(--grey-003);
}

.hover-bg-white:hover {
    background-color: var(--white);
}

.hover-white:hover {
    color: var(--white);
}

.hover-blue:hover {
    color: var(--link-blue);
}


.hover-container .hover-fade:not(.not-contained),
.hover-fade {
    transition: var(--transition-opacity);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

.hover-container:hover .hover-fade:not(.not-contained),
.hover-fade:hover {
    opacity: .7;
    transition: var(--transition-opacity);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}
