/**
 * Styles
 */

@import 'normalize.css';

@import 'basscss';
@import 'basscss-addons/modules/responsive-margin';
@import 'basscss-addons/modules/responsive-padding';
@import 'basscss-addons/modules/media-object';
@import 'basscss-addons/modules/all';
@import 'basscss-addons/modules/forms';
@import 'basscss-addons/modules/input-range';
@import 'basscss-addons/modules/progress';
@import 'basscss-addons/modules/btn';
@import 'basscss-addons/modules/btn-primary';
@import 'basscss-addons/modules/btn-outline';
@import 'basscss-addons/modules/btn-sizes';
@import 'basscss-addons/modules/colors';
@import 'basscss-addons/modules/background-colors';
@import 'basscss-addons/modules/border-colors';
@import 'basscss-addons/modules/darken';
@import 'basscss-addons/modules/lighten';
@import 'basscss-addons/modules/background-images';


/*
@import 'extensions/icons';
@import 'extensions/type';*/
/*@import 'extensions/colours';*/

@import 'extensions/layout';
@import 'extensions/aspects';
@import 'extensions/borders';
@import 'extensions/spaces';

@custom-media --breakpoint-sm (min-width: 760px);
@custom-media --breakpoint-sm-md (min-width: 760px);
@custom-media --breakpoint-md (min-width: 1100px);
@custom-media --breakpoint-md-lg (min-width: 1100px);
@custom-media --breakpoint-lg (min-width: 1440px);


:root {
    --space-1: 10px;
    --space-2: 15px;
    --space-3: 20px;
    --space-4: 30px;

    --border-color: black;
}


@font-face {
    font-family: "akzidenz";
    src: url("../fonts/akzidenz-grotesk-regular.woff2") format("woff2");
}

@font-face {
    font-family: "akzidenz condensed";
    src: url("../fonts/akzidenz.woff") format("woff");
}

@font-face {
    font-family: "helvetica condensed";
    src: url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff");
}

html {
    font-size: 20px;
    height: 100%;
    width: 100%;
}

@media (--breakpoint-md) {
    html {
        font-size: 14px;
    }
}

body {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-family: "akzidenz", Helvetica, Arial, sans-serif;
	  font-variant: normal;
	  font-weight: 400;
	  line-height: 1.4;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* TYPE */
h1, .h1, h2, .h2 {
    margin-top: 0;
    margin-bottom: 0;
	/*font-family: "Helvetica Neue";*/
	font-size: 24px;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

p, .p {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size: 14px;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

blockquote, .blockquote {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size: 21px;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre, .pre {
	/*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	font-size: 13px;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

/* BORDERS */
/*.border { border: var(--border-1px); }
.border-left { border-left: var(--border-1px); }
.border-right { border-right: var(--border-1px); }
.border-top { border-top: var(--border-1px); }
.border-bottom { border-bottom: var(--border-1px); }

.border-black { border-color: black; }*/


/*POSITIONS*/
/*.absolute { position: absolute; }
.relative { position: relative; }
.sticky { position: sticky; }

.left-0 { left: 0; }
.right-0 { right: 0; }
.top-0 { top: 0; }
.bottom-0 { bottom: 0; }

.height-100 { height: 100%; }*/

.zn1 {
    z-index: -1;
}

.crossed {
    background: url('data:image/svg+xml;utf8,<svg id="Layer_1" preserveAspectRatio="none" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600.83 900.55"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;}</style></defs><title>backgorund_cross</title><line class="cls-1" x1="0.42" y1="0.28" x2="600.42" y2="900.28"/><line class="cls-1" x1="600.42" y1="0.28" x2="0.42" y2="900.28"/></svg>');
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 100% 100%, auto;
}

.max-height-100 {
    max-height: 100vh;
}

.max-width-100 {
    max-width: 100%;
}

.table {
    display: table;
    padding:0;
    margin: 0;
    height: 100vh;
    width: 100%;
    vertical-align: middle;
}

.tr {
    display: table-row;
    padding:0;
    margin: 0;
    max-width:100vw;
    max-height:100vh;
}

.td {
    display: table-cell;
    padding: 0;
    margin: 0;
    max-width:100vw;
    max-height:100vh;
    text-align:center;
    vertical-align: middle;
}

.td-1{
    text-align: right;
}

.td-2{
    text-align: left;
}

.center-carousel-img {
    box-sizing: border-box;
    max-width:50vw;
    padding: 0;
    margin: 0;
    max-height: calc(100vh - 20px);
}

.object-fit-cover {
    object-fit: cover;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;  /* show the marquee just outside the paragraph */
    animation: marquee 15s linear infinite;
}

.marquee span:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.title-story-credit{
  font-family: 'helvetica condensed', sans-serif !important;
  color: #e00505;
  margin-top: 90px;
  text-transform: uppercase;
  margin-left: 18px;
  z-index: -1;
}

.title-story-credit h1,
.title-story-credit h2{
  font-size: 38px !important;
  line-height: .9;
  font-family: 'helvetica condensed', sans-serif !important;
}

.container--story-items{
  margin-top: 110px;
}

.col-right .image-credit{
  margin-left: -1px;
}

@-webkit-keyframes skew {
  0%   { -webkit-transform: skew(35deg); }
  100% { -webkit-transform: skew(0); }
}
@-moz-keyframes skew {
  0%   { -moz-transform: skew(35deg); }
  100% { -moz-transform: skew(0); }
}
@-o-keyframes skew {
  0%   { -o-transform: skew(35deg); }
  100% { -o-transform: skew(0); }
}
@keyframes skew {
  0%   { transform: skew(35deg); }
  100% { transform: skew(0); }
}

.skew{
  -webkit-animation: skew 1.1s ease-in-out;
  -moz-animation:    skew 1.1s ease-in-out;
  -o-animation:      skew 1.1s ease-in-out;
  animation:         skew 1.1s ease-in-out;
  animation-iteration-count: 1;
}

.skew-hover{
  -webkit-transform: skew(0);
     -moz-transform: skew(0);
       -o-transform: skew(0);
          transform: skew(0);

          -webkit-transition: -webkit-transform 0.5s ease-in-out;
             -moz-transition: -moz-transform 0.5s ease-in-out;
                  transition: transform 0.5s ease-in-out;
}
.skew-hover:hover{
  -webkit-transform: skew(-20deg);
     -moz-transform: skew(-20deg);
       -o-transform: skew(-20deg);
          transform: skew(-20deg);

  -webkit-transition: -webkit-transform 0.3s ease-in-out;
     -moz-transition: -moz-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
}

.container--stories{
  background: #f33;
  margin-top: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 50px !important;
}

.card-listing-page{
  padding: 5px;
}
