@import 'bva-gulp-styles';

:root {
    --space-1: .25rem;
    --space-2: .50rem;
    --space-3: 1rem;
    --space-4: 2rem;
    --space-5: 4rem;

    --border-1px: 1px solid;
}

@custom-media --breakpoint-sm (min-width: 668px); /* Tablet */
@custom-media --breakpoint-sm-md (min-width: 668px);
@custom-media --breakpoint-md (min-width: 1023px); /* Tablet landscape / small desktop */
@custom-media --breakpoint-md-lg (min-width: 1023px);
@custom-media --breakpoint-lg (min-width: 1280px); /* Large desktop */

@font-face {
    font-family: "akzidenz";
    src: url("../fonts/akzidenz-grotesk-regular.woff2") format("woff2");
}

@font-face {
    font-family: "akzidenz condensed";
    src: url("../fonts/akzidenz.woff") format("woff");
}

html {
    font-size: 16px;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-family: "akzidenz", Helvetica, Arial, sans-serif;
	font-variant: normal;
	font-weight: 400;
	line-height: 15.4px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* PADDINGS AND MARGINS */
.p1 { padding: var(--space-1); }
.pl1 { padding-left: var(--space-1); }
.pr1 { padding-right: var(--space-1); }
.pt1 { padding-top: var(--space-1); }
.pb1 { padding-bottom: var(--space-1); }
.px1 {
    padding-left: var(--space-1);
    padding-right: var(--space-1);
}
.py1 {
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
}


.p2 { padding: var(--space-2); }
.pl2 { padding-left: var(--space-2); }
.pr2 { padding-right: var(--space-2); }
.pt2 { padding-top: var(--space-2); }
.pb2 { padding-bottom: var(--space-2); }
.px2 {
    padding-left: var(--space-2);
    padding-right: var(--space-2);
}
.py2 {
    padding-top: var(--space-2);
    padding-bottom: var(--space-2);
}


.p3 { padding: var(--space-3); }
.pl3 { padding-left: var(--space-3); }
.pr3 { padding-right: var(--space-3); }
.pt3 { padding-top: var(--space-3); }
.pb3 { padding-bottom: var(--space-3); }
.px3 {
    padding-left: var(--space-3);
    padding-right: var(--space-3);
}
.py3 {
    padding-top: var(--space-3);
    padding-bottom: var(--space-3);
}


.p4 { padding: var(--space-4); }
.pl4 { padding-left: var(--space-4); }
.pr4 { padding-right: var(--space-4); }
.pt4 { padding-top: var(--space-4); }
.pb4 { padding-bottom: var(--space-4); }
.px4 {
    padding-left: var(--space-4);
    padding-right: var(--space-4);
}
.py4 {
    padding-top: var(--space-4);
    padding-bottom: var(--space-4);
}


.mln1px { margin-left: -1px; }
.mrn1px { margin-right: -1px; }
.mtn1px { margin-top: -1px; }
.mbn1px { margin-bottom: -1px; }

.m1 { margin: var(--space-1); }
.ml1 { margin-left: var(--space-1); }
.mr1 { margin-right: var(--space-1); }
.mt1 { margin-top: var(--space-1); }
.mb1 { margin-bottom: var(--space-1); }
.mx4 {
    margin-left: var(--space-4);
    margin-right: var(--space-4);
}
.my4 {
    margin-top: var(--space-4);
    margin-bottom: var(--space-4);
}

.m2 { margin: var(--space-2); }
.ml2 { margin-left: var(--space-2); }
.mr2 { margin-right: var(--space-2); }
.mt2 { margin-top: var(--space-2); }
.mb2 { margin-bottom: var(--space-2); }
.mx4 {
    margin-left: var(--space-4);
    margin-right: var(--space-4);
}
.my4 {
    margin-top: var(--space-4);
    margin-bottom: var(--space-4);
}

.m3 { margin: var(--space-3); }
.ml3 { margin-left: var(--space-3); }
.mr3 { margin-right: var(--space-3); }
.mt3 { margin-top: var(--space-3); }
.mb3 { margin-bottom: var(--space-3); }
.mx4 {
    margin-left: var(--space-4);
    margin-right: var(--space-4);
}
.my4 {
    margin-top: var(--space-4);
    margin-bottom: var(--space-4);
}

.m4 { margin: var(--space-4); }
.ml4 { margin-left: var(--space-4); }
.mr4 { margin-right: var(--space-4); }
.mt4 { margin-top: var(--space-4); }
.mb4 { margin-bottom: var(--space-4); }
.mx4 {
    margin-left: var(--space-4);
    margin-right: var(--space-4);
}
.my4 {
    margin-top: var(--space-4);
    margin-bottom: var(--space-4);
}


/* TYPE */
h1, .h1, h2, .h2 {
	font-family: "Helvetica Neue";
	font-size: 24px;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

p, .p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

blockquote, .blockquote {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 21px;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre, .pre {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

/* BORDERS */
.border { border: var(--border-1px); }
.border-left { border-left: var(--border-1px); }
.border-right { border-right: var(--border-1px); }
.border-top { border-top: var(--border-1px); }
.border-bottom { border-bottom: var(--border-1px); }

.border-black { border-color: black; }


/*POSITIONS*/
.absolute { position: absolute; }
.relative { position: relative; }
.sticky { position: sticky; }

.left-0 { left: 0; }
.right-0 { right: 0; }
.top-0 { top: 0; }
.bottom-0 { bottom: 0; }

.height-100 { height: 100%; }

.zn1 {
    z-index: -1;
}

.crossed {
    background: url('data:image/svg+xml;utf8,<svg id="Layer_1" preserveAspectRatio="none" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600.83 900.55"><defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;}</style></defs><title>backgorund_cross</title><line class="cls-1" x1="0.42" y1="0.28" x2="600.42" y2="900.28"/><line class="cls-1" x1="600.42" y1="0.28" x2="0.42" y2="900.28"/></svg>');
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 100% 100%, auto;
}

.max-height-100 {
    max-height: 100vh;
}

.max-width-100 {
    max-width: 100%;
}

/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

body{
  height: 100vh;
  overflow-y: hidden;
}

.table {
    display: table;
    padding:0;
    margin: 0;
    height: 100vh;
    width: 100%;
    vertical-align: middle;
}

.tr {
    display: table-row;
    padding:0;
    margin: 0;
    max-width:100vw;
    max-height:100vh;
}

.td {
    display: table-cell;
    padding: 0;
    margin: 0;
    max-width:100vw;
    max-height:100vh;
    text-align:center;
    vertical-align: middle;
}

.td-1{
    text-align: right;
}

.td-2{
    text-align: left;
}

.center-carousel-img {
    box-sizing: border-box;
    max-width:50vw;
    padding: 0;
    margin: 0;
}

.object-fit-cover {
    object-fit: cover;
}
